.slider {
  width: 500px;
  height: 300px;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.img {
  display: none;
  position: absolute;
  z-index: 0;
}
